@model HeaderVM
    <div class="panel">
        <div class="expandable-list">
            <div class="expandable-list_header">
                <a class="expandable-list_header_title open_expand" href="#">
                    Men's Watches
                </a>
                <span class="expandable-list_header_title">
                    <svg width="6" height="10" viewbox="0 0 6 10" fill="none" style="fill: none;" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L5 5L1 9" stroke="black"></path>
                    </svg>
                </span>
            </div>
            <div id="mobile-primary-menu-1" class="drawer">
                <div class="expandable-list_body">
                    <div class="mobile-menu_back">
                        <a class="close-expand" href="#">
                            <span>
                                <svg width="6" height="10" viewbox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 9L1 5L5 1" stroke="black"></path>
                                </svg>
                                Back
                            </span>
                        </a>
                    </div>
                    <div class="expandable-list__item sublinks">
                        @foreach (Category item in Model.categories.Where(p => p.Name == "Men's Watches"))
                        {
                            <a asp-controller="Products" asp-action="Index" asp-route-id="@item.Id">
                                @item.Name
                            </a>
                        }
                    </div>
                    <div class="expandable-list__item sublinks">
                        <a class="expandable-list__header-title rotate plus-minus-rotate-closed" href="#mobile-primary-menu-2-sub" data-bs-toggle="collapse" aria-controls="mobile-primary-menu-2-sub" aria-expanded="false">
                            Featured
                            <span>
                                <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 0V10" stroke="black" stroke-width="1.5" stroke-miterlimit="10"></path>
                                    <path d="M10 5H0" stroke="black" stroke-width="1.5" stroke-miterlimit="10"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div id="mobile-primary-menu-2-sub" class="collapse">
                        <div class="expandable-list_body">
                            @foreach (Tag item in Model.tags.Where(p => p.Products.Any(p => p.Category.Name == "Men's Watches")))
                            {
                                <div class="expandable-list__item">
                                    <a asp-controller="Products" asp-action="Index" asp-route-tagId="@item.Id" asp-route-id="@item.Products.Select(p=>p.CategoryId).FirstOrDefault()" class="expandable-list_item-title">
                                        @item.Name
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="expandable-list__item sublinks">
                        <a class="expandable-list__header-title rotate plus-minus-rotate-closed" href="#mobile-primary-menu-3-sub" data-bs-toggle="collapse" aria-controls="mobile-primary-menu-2-sub" aria-expanded="false">
                            Styles
                            <span>
                                <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 0V10" stroke="black" stroke-width="1.5" stroke-miterlimit="10"></path>
                                    <path d="M10 5H0" stroke="black" stroke-width="1.5" stroke-miterlimit="10"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div id="mobile-primary-menu-3-sub" class="collapse">
                        <div class="expandable-list_body">
                            @foreach (Style item in Model.styles.Where(p => p.Products.Any(p => p.Category.Name == "Men's Watches")))
                            {
                                <div class="expandable-list__item">
                                    <a asp-controller="Products" asp-action="Index" asp-route-styleId="@item.Id" asp-route-id="@item.Products.Select(p=>p.CategoryId).FirstOrDefault()" class="expandable-list_item-title">
                                        @item.Name
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="expandable-list__item sublinks">
                        <a class="expandable-list__header-title rotate plus-minus-rotate-closed" href="#mobile-primary-menu-4-sub" data-bs-toggle="collapse" aria-controls="mobile-primary-menu-2-sub" aria-expanded="false">
                            Use
                            <span>
                                <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 0V10" stroke="black" stroke-width="1.5" stroke-miterlimit="10"></path>
                                    <path d="M10 5H0" stroke="black" stroke-width="1.5" stroke-miterlimit="10"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div id="mobile-primary-menu-4-sub" class="collapse">
                        <div class="expandable-list_body">
                            @foreach (Use item in Model.uses.Where(p => p.Products.Any(p => p.Category.Name == "Men's Watches")))
                            {
                                <div class="expandable-list__item">
                                    <a asp-controller="Products" asp-action="Index" asp-route-id="@item.Products.Select(p=>p.CategoryId).FirstOrDefault()" asp-route-useId="@item.Id" class="expandable-list_item-title">
                                        @item.Name
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="expandable-list">
            <div class="expandable-list_header">
                <a class="expandable-list_header_title open_expand" href="#">
                    Women's Watches
                </a>
                <span class="expandable-list_header_title">
                    <svg width="6" height="10" viewbox="0 0 6 10" fill="none" style="fill: none;" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L5 5L1 9" stroke="black"></path>
                    </svg>
                </span>
            </div>
            <div id="mobile-primary-menu-women-1" class="drawer">
                <div class="expandable-list_body">
                    <div class="mobile-menu_back">
                        <a class="close-expand" href="#">
                            <span>
                                <svg width="6" height="10" viewbox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 9L1 5L5 1" stroke="black"></path>
                                </svg>
                                Back
                            </span>
                        </a>
                    </div>
                    <div class="expandable-list__item sublinks">
                        @foreach (Category item in Model.categories.Where(p => p.Name == "Women's Watches"))
                        {
                            <a asp-controller="Products" asp-action="Index" asp-route-id="@item.Id">
                                @item.Name
                            </a>
                        }
                    </div>
                    <div class="expandable-list__item sublinks">
                        <a class="expandable-list__header-title rotate plus-minus-rotate-closed" href="#mobile-primary-menu-women-2-sub" data-bs-toggle="collapse" aria-controls="mobile-primary-menu-2-sub" aria-expanded="false">
                            Featured
                            <span>
                                <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 0V10" stroke="black" stroke-width="1.5" stroke-miterlimit="10"></path>
                                    <path d="M10 5H0" stroke="black" stroke-width="1.5" stroke-miterlimit="10"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div id="mobile-primary-menu-women-2-sub" class="collapse">
                        <div class="expandable-list_body">
                            @foreach (Tag item in Model.tags.Where(p => p.Products.Any(p => p.Category.Name == "Women's Watches")))
                            {
                                <div class="expandable-list__item">
                                    <a asp-controller="Products" asp-action="Index" asp-route-tagId="@item.Id" asp-route-id="@item.Products.Select(p=>p.CategoryId).FirstOrDefault() class="expandable-list_item-title">
                                        @item.Name
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="expandable-list__item sublinks">
                        <a class="expandable-list__header-title rotate plus-minus-rotate-closed" href="#mobile-primary-menu-women-3-sub" data-bs-toggle="collapse" aria-controls="mobile-primary-menu-2-sub" aria-expanded="false">
                            Styles
                            <span>
                                <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 0V10" stroke="black" stroke-width="1.5" stroke-miterlimit="10"></path>
                                    <path d="M10 5H0" stroke="black" stroke-width="1.5" stroke-miterlimit="10"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div id="mobile-primary-menu-women-3-sub" class="collapse">
                        <div class="expandable-list_body">
                            @foreach (Style item in Model.styles.Where(p => p.Products.Any(p => p.Category.Name == "Women's Watches")))
                            {
                                <div class="expandable-list__item">
                                    <a asp-controller="Products" asp-action="Index" asp-route-styleId="@item.Id" asp-route-id="@item.Products.Select(p=>p.CategoryId).FirstOrDefault()" class="expandable-list_item-title">
                                        @item.Name
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="expandable-list__item sublinks">
                        <a class="expandable-list__header-title rotate plus-minus-rotate-closed" href="#mobile-primary-menu-women-4-sub" data-bs-toggle="collapse" aria-controls="mobile-primary-menu-2-sub" aria-expanded="false">
                            Use
                            <span>
                                <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 0V10" stroke="black" stroke-width="1.5" stroke-miterlimit="10"></path>
                                    <path d="M10 5H0" stroke="black" stroke-width="1.5" stroke-miterlimit="10"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div id="mobile-primary-menu-women-4-sub" class="collapse">
                        <div class="expandable-list_body">
                            @foreach (Use item in Model.uses.Where(p => p.Products.Any(p => p.Category.Name == "Women's Watches")))
                            {
                                <div class="expandable-list__item">
                                    <a asp-controller="Products" asp-action="Index" asp-route-id="@item.Products.Select(p=>p.CategoryId).FirstOrDefault()" asp-route-useId="@item.Id" class="expandable-list_item-title">
                                        @item.Name
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="expandable-list">
            <div class="expandable-list_header">
                <a class="expandable-list_header_title open_expand" href="#">
                    Bags
                </a>
                <span class="expandable-list_header_title">
                    <svg width="6" height="10" viewbox="0 0 6 10" fill="none" style="fill: none;" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L5 5L1 9" stroke="black"></path>
                    </svg>
                </span>
            </div>
            <div id="mobile-primary-menu-bag-1" class="drawer">
                <div class="expandable-list_body">
                    <div class="mobile-menu_back">
                        <a class="close-expand" href="#">
                            <span>
                                <svg width="6" height="10" viewbox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 9L1 5L5 1" stroke="black"></path>
                                </svg>
                                Back
                            </span>
                        </a>
                    </div>
                    <div class="expandable-list__item sublinks">
                        @foreach (Category item in Model.categories.Where(p => p.Name == "Bag"))
                        {
                            <a asp-controller="Products" asp-action="Index" asp-route-id="@item.Id">
                                @item.Name
                            </a>
                        }
                    </div>
                    <div class="expandable-list__item sublinks">
                        <a class="expandable-list__header-title rotate plus-minus-rotate-closed" href="#mobile-primary-menu-bag-2-sub" data-bs-toggle="collapse" aria-controls="mobile-primary-menu-2-sub" aria-expanded="false">
                            Featured
                            <span>
                                <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 0V10" stroke="black" stroke-width="1.5" stroke-miterlimit="10"></path>
                                    <path d="M10 5H0" stroke="black" stroke-width="1.5" stroke-miterlimit="10"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div id="mobile-primary-menu-bag-2-sub" class="collapse">
                        <div class="expandable-list_body">
                            @foreach (Tag item in Model.tags.Where(p => p.Products.Any(p => p.Category.Name == "Bag")))
                            {
                                <div class="expandable-list__item">
                                    <a asp-controller="Products" asp-action="Index" asp-route-id="@item.Products.Select(p=>p.CategoryId).FirstOrDefault()" asp-route-tagId="@item.Id" class="expandable-list_item-title">
                                        @item.Name
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="expandable-list__item sublinks">
                        <a class="expandable-list__header-title rotate plus-minus-rotate-closed" href="#mobile-primary-menu-bag-3-sub" data-bs-toggle="collapse" aria-controls="mobile-primary-menu-2-sub" aria-expanded="false">
                            Styles
                            <span>
                                <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 0V10" stroke="black" stroke-width="1.5" stroke-miterlimit="10"></path>
                                    <path d="M10 5H0" stroke="black" stroke-width="1.5" stroke-miterlimit="10"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div id="mobile-primary-menu-bag-3-sub" class="collapse">
                        <div class="expandable-list_body">
                            @foreach (Style item in Model.styles.Where(p => p.Products.Any(p => p.Category.Name == "Bag")))
                            {
                                <div class="expandable-list__item">
                                    <a asp-controller="Products" asp-action="Index" asp-route-styleId="@item.Id" asp-route-id="@item.Products.Select(p=>p.CategoryId).FirstOrDefault()" class="expandable-list_item-title">
                                        @item.Name
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="expandable-list__item sublinks">
                        <a class="expandable-list__header-title rotate plus-minus-rotate-closed" href="#mobile-primary-menu-bag-4-sub" data-bs-toggle="collapse" aria-controls="mobile-primary-menu-2-sub" aria-expanded="false">
                            Use
                            <span>
                                <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 0V10" stroke="black" stroke-width="1.5" stroke-miterlimit="10"></path>
                                    <path d="M10 5H0" stroke="black" stroke-width="1.5" stroke-miterlimit="10"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div id="mobile-primary-menu-bag-4-sub" class="collapse">
                        <div class="expandable-list_body">
                            @foreach (Use item in Model.uses.Where(p => p.Products.Any(p => p.Category.Name == "Bag")))
                            {
                                <div class="expandable-list__item">
                                    <a asp-controller="Products" asp-action="Index" asp-route-id="@item.Products.Select(p=>p.CategoryId).FirstOrDefault()" asp-route-useId="@item.Id" class="expandable-list_item-title">
                                        @item.Name
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="expandable-list">
            <div class="expandable-list_header">
                <a class="expandable-list_header_title open_expand" href="#">
                    Headwear
                </a>
                <span class="expandable-list_header_title">
                    <svg width="6" height="10" viewbox="0 0 6 10" fill="none" style="fill: none;" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L5 5L1 9" stroke="black"></path>
                    </svg>
                </span>
            </div>
            <div id="mobile-primary-menu-headwear-1" class="drawer">
                <div class="expandable-list_body">
                    <div class="mobile-menu_back">
                        <a class="close-expand" href="#">
                            <span>
                                <svg width="6" height="10" viewbox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 9L1 5L5 1" stroke="black"></path>
                                </svg>
                                Back
                            </span>
                        </a>
                    </div>
                    <div class="expandable-list__item sublinks">
                        @foreach (Category item in Model.categories.Where(p => p.Name == "Headwears"))
                        {
                            <a asp-controller="Products" asp-action="Index" asp-route-id="@item.Id">
                                @item.Name
                            </a>
                        }
                    </div>
                    <div class="expandable-list__item sublinks">
                        <a class="expandable-list__header-title rotate plus-minus-rotate-closed" href="#mobile-primary-menu-headwear-2-sub" data-bs-toggle="collapse" aria-controls="mobile-primary-menu-2-sub" aria-expanded="false">
                            Featured
                            <span>
                                <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 0V10" stroke="black" stroke-width="1.5" stroke-miterlimit="10"></path>
                                    <path d="M10 5H0" stroke="black" stroke-width="1.5" stroke-miterlimit="10"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div id="mobile-primary-menu-headwear-2-sub" class="collapse">
                        <div class="expandable-list_body">
                            @foreach (Tag item in Model.tags.Where(p => p.Products.Any(p => p.Category.Name == "Headwears")))
                            {
                                <div class="expandable-list__item">
                                    <a asp-controller="Products" asp-action="Index" asp-route-id="@item.Products.Select(p=>p.CategoryId).FirstOrDefault()" asp-route-tagId="@item.Id" class="expandable-list_item-title">
                                        @item.Name
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="expandable-list__item sublinks">
                        <a class="expandable-list__header-title rotate plus-minus-rotate-closed" href="#mobile-primary-menu-headwear-3-sub" data-bs-toggle="collapse" aria-controls="mobile-primary-menu-2-sub" aria-expanded="false">
                            Fits
                            <span>
                                <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 0V10" stroke="black" stroke-width="1.5" stroke-miterlimit="10"></path>
                                    <path d="M10 5H0" stroke="black" stroke-width="1.5" stroke-miterlimit="10"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div id="mobile-primary-menu-headwear-3-sub" class="collapse">
                        <div class="expandable-list_body">
                            @foreach (Style item in Model.styles.Where(p => p.Products.Any(p => p.Category.Name == "Headwears")))
                            {
                                <div class="expandable-list__item">
                                    <a asp-controller="Products" asp-action="Index" asp-route-styleId="@item.Id" asp-route-id="@item.Products.Select(p=>p.CategoryId).FirstOrDefault()" class="expandable-list_item-title">
                                        @item.Name
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="expandable-list__item sublinks">
                        <a class="expandable-list__header-title rotate plus-minus-rotate-closed" href="#mobile-primary-menu-headwear-4-sub" data-bs-toggle="collapse" aria-controls="mobile-primary-menu-2-sub" aria-expanded="false">
                            Useage
                            <span>
                                <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 0V10" stroke="black" stroke-width="1.5" stroke-miterlimit="10"></path>
                                    <path d="M10 5H0" stroke="black" stroke-width="1.5" stroke-miterlimit="10"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div id="mobile-primary-menu-headwear-4-sub" class="collapse">
                        <div class="expandable-list_body">
                            @foreach (Use item in Model.uses.Where(p => p.Products.Any(p => p.Category.Name == "Headwears")))
                            {
                                <div class="expandable-list__item">
                                    <a asp-controller="Products" asp-action="Index" asp-route-id="@item.Products.Select(p=>p.CategoryId).FirstOrDefault()" asp-route-useId="@item.Id" class="expandable-list_item-title">
                                        @item.Name
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="expandable-list">
            <div class="expandable-list_header">
                <a class="expandable-list_header_title open_expand" href="#">
                    Clothing
                </a>
                <span class="expandable-list_header_title">
                    <svg width="6" height="10" viewbox="0 0 6 10" fill="none" style="fill: none;" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L5 5L1 9" stroke="black"></path>
                    </svg>
                </span>
            </div>
            <div id="mobile-primary-menu-clo-1" class="drawer">
                <div class="expandable-list_body">
                    <div class="mobile-menu_back">
                        <a class="close-expand" href="#">
                            <span>
                                <svg width="6" height="10" viewbox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 9L1 5L5 1" stroke="black"></path>
                                </svg>
                                Back
                            </span>
                        </a>
                    </div>
                    <div class="expandable-list__item sublinks">
                        @foreach (Category item in Model.categories.Where(p => p.Name == "Clothing"))
                        {
                            <a asp-controller="Products" asp-action="Index" asp-route-id="@item.Id">
                                @item.Name
                            </a>
                        }
                    </div>
                    <div class="expandable-list__item sublinks">
                        <a class="expandable-list__header-title rotate plus-minus-rotate-closed" href="#mobile-primary-menu-clo-2-sub" data-bs-toggle="collapse" aria-controls="mobile-primary-menu-2-sub" aria-expanded="false">
                            Featured
                            <span>
                                <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 0V10" stroke="black" stroke-width="1.5" stroke-miterlimit="10"></path>
                                    <path d="M10 5H0" stroke="black" stroke-width="1.5" stroke-miterlimit="10"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div id="mobile-primary-menu-clo-2-sub" class="collapse">
                        <div class="expandable-list_body">
                            @foreach (Tag item in Model.tags.Where(p => p.Products.Any(p => p.Category.Name == "Clothing")))
                            {
                                <div class="expandable-list__item">
                                    <a asp-controller="Products" asp-action="Index" asp-route-id="@item.Products.Select(p=>p.CategoryId).FirstOrDefault()" asp-route-tagId="@item.Id" class="expandable-list_item-title">
                                        @item.Name
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="expandable-list__item sublinks">
                        <a class="expandable-list__header-title rotate plus-minus-rotate-closed" href="#mobile-primary-menu-clo-3-sub" data-bs-toggle="collapse" aria-controls="mobile-primary-menu-2-sub" aria-expanded="false">
                            Style
                            <span>
                                <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 0V10" stroke="black" stroke-width="1.5" stroke-miterlimit="10"></path>
                                    <path d="M10 5H0" stroke="black" stroke-width="1.5" stroke-miterlimit="10"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div id="mobile-primary-menu-clo-3-sub" class="collapse">
                        <div class="expandable-list_body">
                            @foreach (Style item in Model.styles.Where(p => p.Products.Any(p => p.Category.Name == "Clothing")))
                            {
                                <div class="expandable-list__item">
                                    <a asp-controller="Products" asp-action="Index" asp-route-styleId="@item.Id" asp-route-id="@item.Products.Select(p=>p.CategoryId).FirstOrDefault()" class="expandable-list_item-title">
                                        @item.Name
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="expandable-list">
            <div class="expandable-list_header">
                <a class="expandable-list_header_title open_expand" href="#">
                    Accessories
                </a>
                <span class="expandable-list_header_title">
                    <svg width="6" height="10" viewbox="0 0 6 10" fill="none" style="fill: none;" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L5 5L1 9" stroke="black"></path>
                    </svg>
                </span>
            </div>
            <div id="mobile-primary-menu-band-1" class="drawer">
                <div class="expandable-list_body">
                    <div class="mobile-menu_back">
                        <a class="close-expand" href="#">
                            <span>
                                <svg width="6" height="10" viewbox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 9L1 5L5 1" stroke="black"></path>
                                </svg>
                                Back
                            </span>
                        </a>
                    </div>
                    <div class="expandable-list__item sublinks">
                        @foreach (Category item in Model.categories.Where(p => p.Name == "Accessories"))
                        {
                            <a asp-controller="Products" asp-action="Index" asp-route-id="@item.Id">
                                @item.Name
                            </a>
                        }
                    </div>
                    <div class="expandable-list__item sublinks">
                        <a class="expandable-list__header-title rotate plus-minus-rotate-closed" href="#mobile-primary-menu-band-2-sub" data-bs-toggle="collapse" aria-controls="mobile-primary-menu-2-sub" aria-expanded="false">
                            Featured
                            <span>
                                <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 0V10" stroke="black" stroke-width="1.5" stroke-miterlimit="10"></path>
                                    <path d="M10 5H0" stroke="black" stroke-width="1.5" stroke-miterlimit="10"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div id="mobile-primary-menu-band-2-sub" class="collapse">
                        <div class="expandable-list_body">
                            @foreach (Tag item in Model.tags.Where(p => p.Products.Any(p => p.Category.Name == "Accessories")))
                            {
                                <div class="expandable-list__item">
                                    <a asp-controller="Products" asp-action="Index" asp-route-id="@item.Products.Select(p=>p.CategoryId).FirstOrDefault()" asp-route-tagId="@item.Id" class="expandable-list_item-title">
                                        @item.Name
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="expandable-list__item sublinks">
                        <a class="expandable-list__header-title rotate plus-minus-rotate-closed" href="#mobile-primary-menu-band-3-sub" data-bs-toggle="collapse" aria-controls="mobile-primary-menu-2-sub" aria-expanded="false">
                            Styles
                            <span>
                                <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 0V10" stroke="black" stroke-width="1.5" stroke-miterlimit="10"></path>
                                    <path d="M10 5H0" stroke="black" stroke-width="1.5" stroke-miterlimit="10"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div id="mobile-primary-menu-band-3-sub" class="collapse">
                        <div class="expandable-list_body">
                            @foreach (Style item in Model.styles.Where(p => p.Products.Any(p => p.Category.Name == "Accessories")))
                            {
                                <div class="expandable-list__item">
                                    <a asp-controller="Products" asp-action="Index" asp-route-styleId="@item.Id" asp-route-id="@item.Products.Select(p=>p.CategoryId).FirstOrDefault()" class="expandable-list_item-title">
                                        @item.Name
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>