@model HeaderVM
<li class="nav-items">
    @foreach (Category item in Model.categories.Where(c => c.Name == "Men's Watches"))
    {
        <a asp-controller="Products" asp-action="Index" asp-route-id="@item.Id">
            @item.Name
            <svg width="10" height="6" fill="none" style="fill:none;" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 1L5 5L1 1" stroke="black"></path>
            </svg>
        </a>
    }
    <div id="section-mens-watch" class="header-category-dropdown">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="dropdown-menu-main">
                        <div class="dropdown-menu-left">
                            <ul>
                                @foreach (Product item in Model.products.Where(p => p.Category.Name == "Men's Watches"))
                                {
                                    <li>
                                        <a asp-controller="Products" asp-action="Index" asp-route-tagId="@item.Tag.Id" asp-route-id="@item.CategoryId">
                                            @item.Tag.Name
                                        </a>
                                    </li>
                                }
                                <li>
                                    <a href="#">
                                        Shop All
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown-menu-right">
                            <ul class="dropdown-menu-right-multi">
                                <li>
                                    <a href="">Styles</a>
                                    <ul>
                                        @foreach (Product item in Model.products.Where(p => p.Category.Name == "Men's Watches"))
                                        {
                                            <li>
                                                <a asp-controller="Products" asp-action="Index" asp-route-styleId="@item.Style.Id" asp-route-id="@item.CategoryId">
                                                    @item.Style.Name
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Use</a>
                                    <ul>
                                        @foreach (Product item in Model.products.Where(p => p.Category.Name == "Men's Watches"))
                                        {
                                            <li>
                                                <a asp-controller="Products" asp-action="Index" asp-route-id="@item.CategoryId" asp-route-useId="@item.Use.Id">
                                                    @item.Use.Name
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Trending</a>
                                    <ul>
                                        @foreach (Product item in Model.products.Where(p => p.Category.Name == "Men's Watches"))
                                        {
                                            <li>
                                                <a asp-route-id="@item.Id">
                                                    @item.Name
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
<li class="nav-items">
    @foreach (Category item in Model.categories.Where(c => c.Name == "Women's Watches"))
    {
        <a asp-controller="Products" asp-action="Index" asp-route-id="@item.Id">
            @item.Name
            <svg width="10" height="6" fill="none" style="fill:none;" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 1L5 5L1 1" stroke="black"></path>
            </svg>
        </a>
    }
    <div id="section-mens-watch" class="header-category-dropdown">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="dropdown-menu-main">
                        <div class="dropdown-menu-left">
                            <ul>
                                @foreach (Product item in Model.products.Where(p => p.Category.Name == "Women's Watches"))
                                {
                                    <li>
                                        <a asp-controller="Products" asp-action="Index" asp-route-tagId="@item.Tag.Id" asp-route-id="@item.CategoryId">
                                            @item.Tag.Name
                                        </a>
                                    </li>
                                }
                                <li>
                                    <a href="#">
                                        Shop All
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown-menu-right">
                            <ul class="dropdown-menu-right-multi">
                                <li>
                                    <a href="">Styles</a>
                                    <ul>
                                        @foreach (Product item in Model.products.Where(p => p.Category.Name == "Women's Watches"))
                                        {
                                            <li>
                                                <a asp-controller="Products" asp-action="Index" asp-route-styleId="@item.Style.Id" asp-route-id="@item.CategoryId">
                                                    @item.Style.Name
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Use</a>
                                    <ul>
                                        @foreach (Product item in Model.products.Where(p => p.Category.Name == "Women's Watches"))
                                        {
                                            <li>
                                                <a asp-controller="Products" asp-action="Index" asp-route-id="@item.CategoryId" asp-route-useId="@item.Use.Id">
                                                    @item.Use.Name
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Trending</a>
                                    <ul>
                                        @foreach (Product item in Model.products.Where(p => p.Category.Name == "Women's Watches"))
                                        {
                                            <li>
                                                <a asp-route-id="@item.Id">
                                                    @item.Name
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
<li class="nav-items">
    @foreach (Category item in Model.categories.Where(c => c.Name == "Bag"))
    {
        <a asp-controller="Products" asp-action="Index" asp-route-id="@item.Id">
            @item.Name
            <svg width="10" height="6" fill="none" style="fill:none;" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 1L5 5L1 1" stroke="black"></path>
            </svg>
        </a>
    }
    <div id="section-mens-watch" class="header-category-dropdown">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="dropdown-menu-main">
                        <div class="dropdown-menu-left">
                            <ul>
                                @foreach (Product item in Model.products.Where(p => p.Category.Name == "Bag"))
                                {
                                    <li>
                                        <a asp-controller="Products" asp-action="Index" asp-route-id="@item.CategoryId" asp-route-tagId="@item.Tag.Id">
                                            @item.Tag.Name
                                        </a>
                                    </li>
                                }
                                <li>
                                    <a href="#">
                                        Shop All
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown-menu-right">
                            <ul class="dropdown-menu-right-multi">
                                <li>
                                    <a href="">Styles</a>
                                    <ul>
                                        @foreach (Product item in Model.products.Where(p => p.Category.Name == "Bag"))
                                        {
                                            <li>
                                                <a asp-controller="Products" asp-action="Index" asp-route-styleId="@item.Style.Id" asp-route-id="@item.CategoryId">
                                                    @item.Style.Name
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Use</a>
                                    <ul>
                                        @foreach (Product item in Model.products.Where(p => p.Category.Name == "Bag"))
                                        {
                                            <li>
                                                <a asp-controller="Products" asp-action="Index" asp-route-id="@item.CategoryId" asp-route-useId="@item.Use.Id">
                                                    @item.Use.Name
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Trending</a>
                                    <ul>
                                        @foreach (Product item in Model.products.Where(p => p.Category.Name == "Bag"))
                                        {
                                            <li>
                                                <a asp-route-id="@item.Id">
                                                    @item.Name
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
<li class="nav-items">
    @foreach (Category item in Model.categories.Where(c => c.Name == "Backpacks"))
    {
        <a asp-controller="Products" asp-action="Index" asp-route-id="@item.Id">
            @item.Name
            <svg width="10" height="6" fill="none" style="fill:none;" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 1L5 5L1 1" stroke="black"></path>
            </svg>
        </a>
    }
    <div id="section-mens-watch" class="header-category-dropdown">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="dropdown-menu-main">
                        <div class="dropdown-menu-left">
                            <ul>
                                @foreach (Product item in Model.products.Where(p => p.Category.Name == "Backpacks"))
                                {
                                    <li>
                                        <a asp-controller="Products" asp-action="Index" asp-route-id="@item.CategoryId" asp-route-tagId="@item.Tag.Id">
                                            @item.Tag.Name
                                        </a>
                                    </li>
                                }
                                <li>
                                    <a href="#">
                                        Shop All
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown-menu-right">
                            <ul class="dropdown-menu-right-multi">
                                <li>
                                    <a href="">Styles</a>
                                    <ul>
                                        @foreach (Product item in Model.products.Where(p => p.Category.Name == "Backpacks"))
                                        {
                                            <li>
                                                <a asp-controller="Products" asp-action="Index" asp-route-styleId="@item.Style.Id" asp-route-id="@item.CategoryId">
                                                    @item.Style.Name
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Use</a>
                                    <ul>
                                        @foreach (Product item in Model.products.Where(p => p.Category.Name == "Backpacks"))
                                        {
                                            <li>
                                                <a asp-controller="Products" asp-action="Index" asp-route-id="@item.CategoryId" asp-route-useId="@item.Use.Id">
                                                    @item.Use.Name
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Trending</a>
                                    <ul>
                                        @foreach (Product item in Model.products.Where(p => p.Category.Name == "Backpacks"))
                                        {
                                            <li>
                                                <a asp-route-id="@item.Id">
                                                    @item.Name
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
<li class="nav-items">
    @foreach (Category item in Model.categories.Where(c => c.Name == "Clothing"))
    {
        <a asp-controller="Products" asp-action="Index" asp-route-id="@item.Id">
            @item.Name
            <svg width="10" height="6" fill="none" style="fill:none;" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 1L5 5L1 1" stroke="black"></path>
            </svg>
        </a>
    }
    <div id="section-mens-watch" class="header-category-dropdown">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="dropdown-menu-main">
                        <div class="dropdown-menu-left">
                            <ul>
                                @foreach (Product item in Model.products.Where(p => p.Category.Name == "Clothing"))
                                {
                                    <li>
                                        <a asp-controller="Products" asp-action="Index" asp-route-id="@item.CategoryId" asp-route-tagId="@item.Tag.Id">
                                            @item.Tag.Name
                                        </a>
                                    </li>
                                }
                                <li>
                                    <a href="#">
                                        Shop All
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown-menu-right">
                            <ul class="dropdown-menu-right-multi">
                                <li>
                                    <a href="">Styles</a>
                                    <ul>
                                        @foreach (Product item in Model.products.Where(p => p.Category.Name == "Clothing"))
                                        {
                                            <li>
                                                <a asp-controller="Products" asp-action="Index" asp-route-styleId="@item.Style.Id" asp-route-id="@item.CategoryId">
                                                    @item.Style.Name
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Use</a>
                                    <ul>
                                        @foreach (Product item in Model.products.Where(p => p.Category.Name == "Clothing"))
                                        {
                                            <li>
                                                <a asp-controller="Products" asp-action="Index" asp-route-id="@item.CategoryId" asp-route-useId="@item.Use.Id">
                                                    @item.Use.Name
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Trending</a>
                                    <ul>
                                        @foreach (Product item in Model.products.Where(p => p.Category.Name == "Clothing"))
                                        {
                                            <li>
                                                <a asp-route-id="@item.Id">
                                                    @item.Name
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
<li class="nav-items">
    @foreach (Category item in Model.categories.Where(c => c.Name == "Accessories"))
    {
        <a asp-controller="Products" asp-action="Index" asp-route-id="@item.Id">
            @item.Name
            <svg width="10" height="6" fill="none" style="fill:none;" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 1L5 5L1 1" stroke="black"></path>
            </svg>
        </a>
    }
    <div id="section-mens-watch" class="header-category-dropdown">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="dropdown-menu-main">
                        <div class="dropdown-menu-left">
                            <ul>
                                @foreach (Product item in Model.products.Where(p => p.Category.Name == "Accessories"))
                                {
                                    <li>
                                        <a asp-controller="Products" asp-action="Index" asp-route-id="@item.CategoryId" asp-route-tagId="@item.Tag.Id">
                                            @item.Tag.Name
                                        </a>
                                    </li>
                                }
                                <li>
                                    <a href="#">
                                        Shop All
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown-menu-right">
                            <ul class="dropdown-menu-right-multi">
                                <li>
                                    <a href="">Styles</a>
                                    <ul>
                                        @foreach (Product item in Model.products.Where(p => p.Category.Name == "Accessories"))
                                        {
                                            <li>
                                                <a asp-controller="Products" asp-action="Index" asp-route-styleId="@item.Style.Id" asp-route-id="@item.CategoryId">
                                                    @item.Style.Name
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Use</a>
                                    <ul>
                                        @foreach (Product item in Model.products.Where(p => p.Category.Name == "Accessories"))
                                        {
                                            <li>
                                                <a asp-controller="Products" asp-action="Index" asp-route-id="@item.CategoryId" asp-route-useId="@item.Use.Id">
                                                    @item.Use.Name
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Trending</a>
                                    <ul>
                                        @foreach (Product item in Model.products.Where(p => p.Category.Name == "Accessories"))
                                        {
                                            <li>
                                                <a asp-route-id="@item.Id">
                                                    @item.Name
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
<li class="nav-items">
    @foreach (Category item in Model.categories.Where(c => c.Name == "Headwears"))
    {
        <a asp-controller="Products" asp-action="Index" asp-route-id="@item.Id">
            @item.Name
            <svg width="10" height="6" fill="none" style="fill:none;" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 1L5 5L1 1" stroke="black"></path>
            </svg>
        </a>
    }
    <div id="section-mens-watch" class="header-category-dropdown">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="dropdown-menu-main">
                        <div class="dropdown-menu-left">
                            <ul>
                                @foreach (Product item in Model.products.Where(p => p.Category.Name == "Headwears"))
                                {
                                    <li>
                                        <a asp-controller="Products" asp-action="Index" asp-route-id="@item.CategoryId" asp-route-tagId="@item.Tag.Id">
                                            @item.Tag.Name
                                        </a>
                                    </li>
                                }
                                <li>
                                    <a href="#">
                                        Shop All
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown-menu-right">
                            <ul class="dropdown-menu-right-multi">
                                <li>
                                    <a href="">Styles</a>
                                    <ul>
                                        @foreach (Product item in Model.products.Where(p => p.Category.Name == "Headwears"))
                                        {
                                            <li>
                                                <a asp-controller="Products" asp-action="Index" asp-route-styleId="@item.Style.Id" asp-route-id="@item.CategoryId">
                                                    @item.Style.Name
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Use</a>
                                    <ul>
                                        @foreach (Product item in Model.products.Where(p => p.Category.Name == "Headwears"))
                                        {
                                            <li>
                                                <a asp-controller="Products" asp-action="Index" asp-route-id="@item.CategoryId" asp-route-useId="@item.Use.Id">
                                                    @item.Use.Name
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Trending</a>
                                    <ul>
                                        @foreach (Product item in Model.products.Where(p => p.Category.Name == "Headwears"))
                                        {
                                            <li>
                                                <a asp-route-id="@item.Id">
                                                    @item.Name
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>